## Pandas Exercise Book

#### Introduction
[Pandas](http://pandas.pydata.org/) (python data analysis library) is built on NumPy. Pandas is built upon the data objects Series (indexed arrays) and DataFrames (full fledged tables) Many NumPy array indexing techniques can be used in the same way when indexing pandas arrays and series.

In addition to many ways to slice, dice, filter and combine data in (mostly) DataFrames, pandas als offers some data analysis models for times series analysis and simple regression. The analysis functionality of pandas is especially suited  for business related problems where many predictions are time bound. We will not use pandas for modeling: we have opted for scikit-learn.

Pandas is well suited to do initial data preparation on data that is to be analysed with scikit-learn models. For is, this is the main reason to familiarize ourselves with pandas. Sklearn models are defined on NumPy arrays, but since pandas DataFrames are based on NumPy arrays, pandas can be used effectively in sklearn. In most publicly available data machine learning Notebooks, either pandas or NumPy a combination of both is used to do the initial preparation.

Pandas has a lot of functionality and can almost be viewed as a language on its own: a domain specifc language (DSL) or table based data analysis. Pandas offer excellent tools to get data from CSV, Excel and databases. It incorporates SQLAlchemy to emable SQL-like manipulation of DataFrames.

In [3]:
import pandas as pd
import numpy as np

# Set some pandas options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 5)
pd.set_option('display.max_rows', 5)

#### Creating pandas Series

In [5]:
# create a pandas Series for the number list [10..20)
pd.Series(range(10, 20))

0    10
1    11
     ..
8    18
9    19
Length: 10, dtype: int32

In [4]:
# or
pd.Series(np.arange(10, 20))

0    10
1    11
     ..
8    18
9    19
Length: 10, dtype: int32

In [5]:
s1 = pd.Series(range(10, 20))
s2 = pd.Series(range(10, 20), index=list('abcdefghij'))
# get the index of both lists (index is list of labels: datatype is pandas index, not genuine list!)
s1.index, s2.index

(RangeIndex(start=0, stop=10, step=1),
 Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object'))

In [6]:
# create a Series of 10 random numbers
pd.Series(np.random.rand(10))

0    0.211190
1    0.664245
       ...
8    0.410198
9    0.314259
Length: 10, dtype: float64

In [7]:
# create a Series of 15 numbers equally spaced over the range [20..60]
# remember linspace!
pd.Series(np.linspace(20, 60, 15))

0     20.000000
1     22.857143
        ...
13    57.142857
14    60.000000
Length: 15, dtype: float64

In [8]:
# create a Series from a dict
pd.Series({c: n for c,n in zip('abcdef', range(6))})

a    0
b    1
    ..
e    4
f    5
Length: 6, dtype: int64

In [9]:
# this is the same as:
pd.Series(range(6), index=list('abcdef'))
# but why does this generate a smaller integer size???

a    0
b    1
    ..
e    4
f    5
Length: 6, dtype: int32

#### Getting and setting data from Series

In [10]:
s1 = pd.Series(range(10, 20))
# get the value on array position 3 (value of 4th element). We often say: get value with label 3
s1[3]

13

In [11]:
s2 = pd.Series(range(10, 20), index=list('abcdefghij'))
# get value with label 'c'
s2['c']

12

In [12]:
# show that you can also use a textual label as an attribute (s.label)
s2['c'] == s2.c

True

In [13]:
# show that you can still use the default numerical labels
s2[2] == s2.c

True

In [14]:
# but show that default labels are lost once you have passed an explicit numeric index
s2 = pd.Series(range(10, 20), index=range(100, 110))
# s2[0]  # throws key error: explain for yourself why
# There is no index[0] anymore because you set it otherwise.

In [15]:
# to avoid this confusion explicit label lookup (loc) and deafult position lookup (iloc) have been defined:
s2[101] == s2.loc[101] == s2.iloc[1]

True

In [16]:
s = pd.Series(range(10, 20))
# set every second value in the series to NaN (Not a Number, NumPy's version of void or null')
s[s%2 != 0] = None

s

0    10.0
1     NaN
     ...
8    18.0
9     NaN
Length: 10, dtype: float64

#### Boolean selection (masking)

In [17]:
s = pd.Series(range(10, 20))
# get rows with even values?
s[s%2 == 0]

0    10
2    12
4    14
6    16
8    18
dtype: int32

In [18]:
# get rows that can be divided by 2 and by 3
# use parenthesis and &, | and ~ as boolean operators: same as in NumPy
import pandas as pd
s = pd.Series(range(10, 20))
# get rows with even values?
s[(s%2 == 0) & (s%3 == 0)]

2    12
8    18
dtype: int32

In [19]:
# reindex s1 so as to have a decent index again
s1.index = range(s1.size)
s1

0    10
1    11
     ..
8    18
9    19
Length: 10, dtype: int32

In [20]:
# you can also use predicates all() and any() in a way similar to their usage in SQL:
s1 = s[(s%2 == 0) | (s%3 == 0)]
((s1%2 == 0) | (s1%3 == 0)).all()  # true because we explictly set so

True

In [21]:
# or
np.all((s1%2 == 0) | (s1%3 == 0))

True

There's a lot more to Series. Consult the online documentation if you run into an unknown construction in some of the code you are studying.

#### Creating pandas DataFrames
DataFrames are 2 dimensional arrays with row and column labels. You can construct them from any 2 dimensional structure you might expect.

In [22]:
# construct from list
pd.DataFrame([[1,2], [3,4]])

   0  1
0  1  2
1  3  4

In [23]:
# construct from 2 dim NumPy array
pd.DataFrame(np.array([[1,2], [3,4]]))

   0  1
0  1  2
1  3  4

In [24]:
# construct from Series; Series should be equal sized; each Series will be a row
pd.DataFrame([pd.Series(range(5)), pd.Series(range(10,15))])

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14

In [25]:
# yet another variant
pd.DataFrame(np.array(np.random.rand(12)).reshape(3,4), columns = list('abcd'))

          a         b         c         d
0  0.653997  0.813789  0.570267  0.983250
1  0.026098  0.107667  0.702574  0.304947
2  0.694786  0.227401  0.847316  0.826239

In [26]:
# create the dataframe
#           y     x
#     2014  1   aap
#     2015  2  noot
# from the Python dict data. 
data = {'y': [1,2], 'x':["aap", "noot"]}
pd.DataFrame(data, index=[2014, 2015], columns=['y', 'x'])

      y     x
2014  1   aap
2015  2  noot

In [27]:
# what about this one:
clubs = ['Ajax', 'Feyenoord', 'PSV']
m = len(clubs)
df_competition = pd.DataFrame(np.array(np.random.randint(1,4,9)).reshape(m,m), columns=clubs, index=clubs)
for i in range(m):
    df_competition.iloc[i,i] = np.nan   # you could also use iat[] which is faster but less widely used
    
df_competition

# df_competition[c1,c2] is the number of points for c1 in their (home) match against c2
# can you find a random seed that makes PSV champion
# or, quite challenging, can you create code to generate the final competiton table ("eindstand", nr of points for each club)

           Ajax  Feyenoord  PSV
Ajax        NaN        3.0  3.0
Feyenoord   3.0        NaN  2.0
PSV         3.0        1.0  NaN

In [28]:
# done differently and more idiomatic NumPy: always think vectorization and try to do it declarative!
# look up the meaning of the used methods
clubs = ['Ajax', 'Feyenoord', 'PSV']
m = len(clubs)
df_competition = pd.DataFrame(np.array(np.random.randint(1,4,9)).reshape(m,m), columns=clubs, index=clubs)
df_competition.where(np.eye(m) != 1)

           Ajax  Feyenoord  PSV
Ajax        NaN        2.0  3.0
Feyenoord   3.0        NaN  1.0
PSV         1.0        1.0  NaN

#### Getting and setting data from DataFrames
It took me a little while to wrap my head around the []-operator on DataFrames. It is heavily overloaded:
- if the paramater is a single value, it always identifies a single column and it returns a Series which is a view on the  DataFrame where it is taken from.
- if the parameter is a slicer object, it always identiefies a set of rows and it returns a DataFrame object, which is again a view on the DataFrame it is taken from.

If you want scalar lookup (retrieve the value of a single cell), you can use either loc[] or at[] (or any of their variants)

In [29]:
df = pd.DataFrame(np.arange(6).reshape(2,3), index=[2014, 2015], columns=['AMS', 'EHV', 'RTD'])
# return the first column. This returns a Series
df.iloc[0]

AMS    0
EHV    1
RTD    2
Name: 2014, dtype: int32

In [11]:
# in contrast to Series, you can't use a column number if the type of column labels is not integer
# df[0]    # commented out: won't work
# but you could use iloc() for positional addressing:
# use iloc() to get the first column
df.iloc[1]

P    3
Q    4
R    5
Name: 2015, dtype: int32

In [31]:
# return the last row of DataFrame df. This returns a Series
df.iloc[len(df) - 1]

AMS    3
EHV    4
RTD    5
Name: 2015, dtype: int32

In [13]:
# return the last row of DataFrame df, but now return a DataFrame
df.iloc[len(df) - 1].to_frame

<bound method Series.to_frame of P    3
Q    4
R    5
Name: 2015, dtype: int32>

In [14]:
# return the data in the last row of DataFrame df. Return as a NumPy array.
# use the values() method
df.iloc[len(df) - 1].values

array([3, 4, 5])

In [34]:
# return the data in the last row of DataFrame df. Return as a list.
# use the tolist() method
df.iloc[len(df) - 1].tolist()

[3, 4, 5]

#### Adding data to DataFrames

In [35]:
df = pd.DataFrame(np.arange(6).reshape(2,3), index=[2014,2015], columns=list("PQR"))
# add column S with values [10,11]
df.assign(E= pd.Series([10,11]).values)

      P  Q  R   E
2014  0  1  2  10
2015  3  4  5  11

In [15]:
df = pd.DataFrame(np.arange(6).reshape(2, 3), index=[2015, 2015], columns=list("PQR"))
# append row [6,7,8] with label 2016 to dataframe
row = pd.DataFrame({'P': [6],
                    'Q': [7],
                    'R': [8]},
                   index=[2016])
merge = [df, row]
result = pd.concat(merge)
result

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>P</th>
      <th>Q</th>
      <th>R</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2015</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(6).reshape(2,3), index=[2014,2015], columns=list("PQR"))
# add column S with values [10,11]. Use loc().
df.assign(S= pd.Series([10,11]).values)

# Now you can use a single method to add rows and columns.

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>P</th>
      <th>Q</th>
      <th>R</th>
      <th>S</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2014</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
df = pd.DataFrame(np.arange(6).reshape(2,3), index=[2014,2015], columns=list("PQR"))
# append row [6,7,8] with label 2015 to dataframe by transposing, adding, transposing
df = df.T
df[2016] = [6,7,8]
df = df.T
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>P</th>
      <th>Q</th>
      <th>R</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2014</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2016</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

#### Views versus copies
View/copy semantics are largely inherited form NumPy. Read [this article](http://tinyurl.com/q3vz2je) to understand the NumPy rules. Then read this [thorough explanation on SO](http://goo.gl/a43POn) that is specifically for pandas.

Can you explain the subtleties below?

In [18]:
df = pd.DataFrame(np.arange(6).reshape(2,3), index=[2014,2015], columns=list("PQR"))
df1 = df[['P', 'R']]
df1.loc[2015, 'R'] = -1
df

C:\Users\Uber-Laptop\AppData\Local\Programs\Python\Python36-32\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Uber-Laptop\AppData\Local\Programs\Python\Python36-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>P</th>
      <th>Q</th>
      <th>R</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2014</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
df = pd.DataFrame(np.arange(6).reshape(2,3), index=[2014,2015], columns=list("PQR"))
df1 = df
df1.loc[2015, 'R'] = -1
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>P</th>
      <th>Q</th>
      <th>R</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2014</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>3</td>
      <td>4</td>
      <td>-1</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
df = pd.DataFrame(np.arange(6).reshape(2,3), index=[2014,2015], columns=list("PQR"))
df1 = df[:]
df1.loc[2015, 'R'] = -1
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>P</th>
      <th>Q</th>
      <th>R</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2014</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>3</td>
      <td>4</td>
      <td>-1</td>
    </tr>
  </tbody>
</table>
</div>